<% title 'Sent Messages' %>
<div class="mykpf">
  <table>
    <tr>
      <td class="mykpf-sidebar">
        <%= render 'mykpf_sidebar' %>
      </td>
      <td>
        <%= render 'list_messages', :type => 'sent' %>
      </td>
    </tr>
  </table>
</div>