<% title 'Password Recovery' %>
<div class="form">
  <%= form_tag do %>
    <table>
      <tr>
        <td class="aligncenter">Username: <%= text_field_tag :username %> <%= submit_tag 'Submit' %></td>
      </tr>
    </table>
  <% end %>
</div>