<% title 'KPopFlash IRC' %>
<iframe src="http://webchat.quakenet.org/?channels=kpopflash&uio=MTA9dHJ1ZSYxMT0yMDU02" width="600" height="480"></iframe>
<div class="aligncenter"><a href="irc://irc.quakenet.org/kpopflash">irc.quakenet.org<br />#kpopflash</a></div>